@import url('../fonts/stylesheet.css');
@import url('../fonts/opensans.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: 'Circe', serif;
    --accent-blue: #109CF1;
    --dark-blue: #334D6E;
    --gray: #90A0B7;
    --black: #192A3E;
    --white: #FFFFFF;
    --table-black: #323C47;
    --table-gray: #707683;
}

input {
    font-family: 'Circe', serif;
}

body {
    margin: 0;
    background-color: #F5F6F8;
    display: flex;
    color: var(--dark-blue);
    font-size: 14px;
}

/*---UTIL---*/

.input-group {
    display: flex;
    flex-direction: column-reverse;
}

.input-group label {
    font-weight: 500;
    font-size: 11px;
    color: #818E9B;
}

.input-group input {
    border: none;
    border-bottom: 1px solid #D3D8DD;
    font-weight: normal;
    font-size: 13px;
    color: var(--table-black);
    padding-bottom: 6px;
}

.input-group input::placeholder {
    opacity: 0.5;
    color: var(--table-black);
}

.input-group input {
    border: none;
    border-bottom: 1px solid #D3D8DD;
    font-weight: normal;
    font-size: 13px;
    color: var(--table-black);
    padding-bottom: 6px;
}

.input-group input:focus {
    outline: none;
    border-bottom: 1px solid #818E9B;
}

.input-group input:focus ~ label {
    color: #109CF1;
}

.btn:focus {
    outline: none;
}

.btn {
    min-width: 160px;
    padding: 11px 15px;
    border-radius: 4px;
    -webkit-appearance: none;
    color: var(--accent-blue);
    border: 1px solid transparent;
    background-color: transparent;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    color: #34AFF9;
}

.btn:active {
    color: #098EDF;
}

.btn[disabled] {
    opacity: 0.4;
    color: var(--accent-blue)
}

.btn-secondary {
    border-color: var(--accent-blue)
}

.btn-secondary:hover {
    border-color: #34AFF9;
}

.btn-secondary:active {
    border-color: #098EDF;
}

.btn-secondary[disabled] {
    border-color: var(--accent-blue)
}

.btn-primary {
    background-color: var(--accent-blue);
    color: var(--white);
    border-color: var(--accent-blue);
    box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
}

.btn-primary:hover {
    color: var(--white);
    background-color: #34AFF9;
    border-color: #34AFF9;
    box-shadow: 0px 8px 16px rgba(52, 175, 249, 0.2);
}

.btn-primary:active {
    color: var(--white);
    background-color: #098EDF;
    border-color: #098EDF;
    box-shadow: 0px 2px 6px rgba(9, 142, 223, 0.3);
}

.btn-primary[disabled] {
    color: var(--white);
    background: #C2CFE0;
    border-color: #C2CFE0;
    box-shadow: none;
}

.tabs {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    border-bottom: 1px solid #EBEFF2;
}

.tabs__item + .tabs__item {
    margin-left: 25px;
}

.tabs__link {
    position: relative;
    text-decoration: none;
    display: block;
    padding: 20px 0;
    color: var(--dark-blue);
}

.tabs__link:hover {
    color: var(--black);
}

.tabs__link.active {
    color: var(--accent-blue);
}

.tabs__link.active:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    background-color: var(--accent-blue);
    height: 1px;
}

.tab-content {
    /*padding: 20px;*/
}

.tab-content > div {
    display: none;
}

.tab-content > div:first-child {
    display: block;
}


    /*----------*/

.page {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.content-wrapper {
    overflow-y: auto;
    height: calc(100% - 60px);
    padding: 35px;
}

.custom-checkbox {
    display: block;
    min-height: 14px;
    min-width: 14px;
}

.custom-checkbox__input {
    display: none;
}

.custom-checkbox__label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    padding-left: 20px;
}

.custom-checkbox__label:before {
    position: absolute;
    top: 0.15rem;
    left: 0;
    display: block;
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: 2px solid #D5D5D5;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-checkbox__label:after {
    position: absolute;
    top: 0.15rem;
    left: 0;
    display: block;
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    content: "";
    background: no-repeat 100% / 100% 100%;
    border: rgba(0, 0, 0, 0) solid 2px;
}

.custom-checkbox__input:checked ~ .custom-checkbox__label::before {
    color: var(--white);
    border-color: var(--accent-blue);
    background-color: var(--accent-blue);
}

.custom-checkbox__input:checked ~ .custom-checkbox__label::after {
    background-image: url('../img/checkbox.svg');
}

/*---SIDEBAR---*/

.sidebar {
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
    max-width: 256px;
    min-width: 256px;
    height: 100vh;
    overflow-y: auto;
    background-color: var(--white);
    z-index: 20;
    display: flex;
    flex-direction: column;
}

.sidebar__header {
    padding: 0 24px;
    height: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EBEFF2;
}

.sidebar__body {
    padding: 14px 24px;
}

.sidebar__footer {
    padding: 14px 24px;
    border-top: 1px solid #EBEFF2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.sidebar__title {
    font-family: Open Sans, serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--accent-blue);
}

.sidebar__subtitle {
    font-size: 10px;
}

.sidebar__title .short {
    display: none;
}

.sidebar__user {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.sidebar__avatar {
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0);
    width: 46px;
    height: 46px;
}

.sidebar__avatar-wrapper {
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

.active .sidebar__avatar-wrapper {
    border-color: var(--accent-blue);
}

.sidebar__name-container {
    padding-left: 12px;
}

.sidebar__email {
    font-weight: 500;
    font-size: 11px;
    color: var(--gray);
}

.sidebar__name {
    font-weight: 500;
    color: var(--black);
    margin-bottom: 5px;
}

.sidebar__item {
    display: flex;
    padding: 10px 0;
    align-items: flex-start;
    cursor: pointer;
    user-select: none;
}

.sidebar__item-text {
    color: var(--dark-blue);
    margin-left: 16px;
    font-weight: 500;
    font-size: 13px;
}

.active .sidebar__item-text {
    color: var(--accent-blue);
}

.sidebar__item svg {
    width: 20px;
    min-width: 20px;
    height: 20px;
    color: #C2CFE0;
}

.sidebar__item.active svg {
    color: var(--accent-blue);
}

/*.sidebar__item-icon, .sidebar__item-icon-active {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*}*/

/*.sidebar__item-icon-active {*/
/*    display: none;*/
/*}*/

/*.active .sidebar__item-icon {*/
/*    display: none;*/
/*}*/

/*.active .sidebar__item-icon-active {*/
/*    display: inherit;*/
/*}*/

.sidebar__submenu {
    color: var(--dark-blue);
    overflow: hidden;
    list-style-type: none;
    height: 0;
    padding: 0;
}

.active .sidebar__submenu {
    height: inherit;
    padding: 5px 0 0 16px;

}

.sidebar__submenu-item {
    font-weight: 400;
    margin-top: 8px;
    position: relative;
}

.sidebar__submenu-item:before {
    width: 8px;
    height: 8px;
    display: block;
    content: '';
    border-radius: 100%;
    position: absolute;
    top: calc(50% - 4px);
    box-sizing: border-box;
    left: -16px;
}

.email-scheduled:before {
    border: 2px solid #885AF8;
}

.email-sent:before, .task-completed:before, .contact-new:before, .deal-high:before {
    border: 2px solid #2ED47A;
}

.email-archived:before, .task-ended:before, .contact-fired:before, .deal-urgent:before {
    border: 2px solid #F7685B;
}

.email-draft:before, .task-active:before, .contact-top-rated:before, .deal-low:before {
    border: 2px solid #FFB946;
}


.sidebar__toggle {
    padding: 0;
    margin-top: 20px;
}

.sidebar__toggle .sidebar__item-text {
    font-size: 11px;
    color: var(--gray);
}

.sidebar__toggle svg {
    width: 14px;
    min-width: 14px;
    height: 14px;
}

.compact .sidebar__toggle svg {
    color: var(--accent-blue);
}


.sidebar.compact {
    max-width: 70px;
    min-width: 70px;
}

.compact .sidebar__header {
    padding: 0;
    justify-content: center;
}

.compact .sidebar__header div {
    text-align: center;
}

.compact .sidebar__title .full{
    display: none;
}

.compact .sidebar__title .short{
    display: inline;
}

.compact .sidebar__name-container {
    display: none;
}

.compact .sidebar__user {
    justify-content: center;
}

.compact .sidebar__item {
    justify-content: center;
}

.compact .sidebar__item-text {
    display: none;
}


/*---HEADER---*/

.header {
    height: 60px;
    border-bottom: 1px solid #EBEFF2;
    background-color: var(--white);
    z-index: 10;
    display: flex;
    justify-content: center;
    padding: 0 35px;
}

.header__input {
    width: 100%;
    border: 0;
    padding-left: 12px;
    font-weight: normal;
    font-size: 12px;
}

.header__input::placeholder {
    color: var(--gray);
}

.header__input:focus {
    outline: none;
}


/*---REPORT---*/

.report {
    background-color: var(--white);
    border-radius: 4px;
    width: 100%;
    border-collapse: collapse;
}

.report-wrapper {
    overflow-x: auto;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}

.report__header th {
    font-weight: 500;
    font-size: 13px;
    color: var(--dark-blue);
    padding: 14px 12px;
    text-align: left;
    border-bottom: 1px solid #EBEFF2;
}

.report__header th:first-child {
    padding-left: 24px;
}

.report__header-text {
    opacity: 0.5;
}

.report__header th:last-child {
    text-align: right;
    padding-right: 24px;
}

.report__body td {
    padding: 20px 12px;
    text-align: left;
    font-size: 13px;
    font-weight: 400;
    color: var(--table-gray);
    border-bottom: 1px solid #EBEFF2;
}

.report__body tr:last-child td {
   border-bottom: none;
}

.report__body tr {
    cursor: pointer;
}

.report__body tr:hover {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.report__body td:first-child {
    padding-left: 24px;
}

.report__body td:last-child  {
    text-align: right;
    padding-right: 24px;
}

.report__user {
    display: flex;
}

.report__avatar {
    height: 24px;
    width: 24px;
    border-radius: 100%;
}

.report__name {
    margin-left: 12px;
    font-weight: 500;
    font-size: 15px;
    color: var(--table-black);
}






/*---LOGIN---*/

.login__header {
    height: 60px;
    background-color: var(--white);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}



.login__header-title {
    font-family: Open Sans, serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--accent-blue);
    margin: 15px 0 0 24px;
}

.login__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.title {
    font-weight: normal;
    font-size: 48px;
    margin-bottom: 63px;
}

.form {
    background: var(--white);
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding: 10px 52px 33px;
}

.forgot-link {
    color: var(--gray);
    text-decoration: none;
    font-weight: 500;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 36px 0;
}

.forgot-link img {
    margin-right: 14px;
}

.form .input-group {
    margin-top: 42px;
}

.form .btn {
    align-self: center;
}


@media (max-width: 575.98px) {

}


@media (max-width: 767.98px) {

}


@media (max-width: 991.98px) {

}


@media (max-width: 1199.98px) {

}
